table{
   border: 2px solid black;
   border-collapse: collapse;
   
     
}
th,td{
   border-collapse:collapse;
   border: 1px solid blue;

}
.ordered-center{
   /* text-align:center; */
   text-align:right;
   /* margin-right: 10px; */
   
}

h4 {
   margin-left: 660px;
}

